<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{%- include head.html -%}

<body>
<div class="shadowleft">
  <div class="shadowright">
    <div class="system_site_wrapper">
      <div class="system_header_container">
        <div class="header_top">
                <a href="/"><img src="/assets/LogoWeb_4.jpg" alt="St Paul&#39;s Church Spennymoor" border="0"></a> <div class="clear"></div></div>
       
        <div class="header_navigation">
                    <div class="mainlinkcontainer"><span class="mainnavigation_link"><a href="/">Home</a></span></div>
                    <div class="mainlinkcontainer"><span class="mainnavigation_link"><a href="/services/">Services</a></span></div>
                    <div class="mainlinkcontainer"><span class="mainnavigation_link"><a href="/news/">News and Events</a></span></div>
                    <div class="mainlinkcontainer"><span class="mainnavigation_link"><a href="/church-life/">Church Life</a></span></div>
                    <div class="mainlinkcontainer"><span class="mainnavigation_link"><a href="/baptisms-weddings/">Book a Baptism or Wedding</a></span></div>
                    <div class="mainlinkcontainer"><span class="mainnavigation_link"><a href="/crossways/">Crossways Newsletter</a></span></div>
                    <div class="mainlinkcontainer"><span class="mainnavigation_link"><a href="/safeguarding/">Safeguarding</a></span></div>
                    <div class="mainlinkcontainer"><span class="mainnavigation_link"><a href="/history/">History</a></span></div>
                    <div class="mainlinkcontainer"><span class="mainnavigation_link"><a href="/fire/">The fire of 1953</a></span></div>
                    <div class="mainlinkcontainer"><span class="mainnavigation_link"><a href="/contact/">Contact</a></span></div>
                  </div>
        <div class="navigationbar">
          <div class="navigation_bar_overlay"></div>
        </div>
      </div>
      <div class="header_image_container">
          {%- if page.header_image -%}<div class="header_image_wrapper">
            <span class="header_image_container"><img src="{{ page.header_image }}" alt="" border="0"></span>
            </div>{%- endif -%}
      </div>
      <div class="system_main_content_container">
        <div class="panel">
          {{ content }}
        </div>
        <div class="clear"></div>
      </div>
      <div class="system_footer_container">
        <div class="footertextcontainer">
          <div class="supplier_container"></div>
          <div class="footerlinks">© 2022 St Paul's Church Spennymoor | valid xhtml1.1</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="sb-container"><div id="sb-overlay"></div><div id="sb-wrapper"><div id="sb-title"><div id="sb-title-inner"></div></div><div id="sb-body"><div id="sb-body-inner"></div><div id="sb-loading"><a onclick="Shadowbox.close()">Cancel</a></div></div><div id="sb-info"><div id="sb-info-inner"><div id="sb-counter"></div><div id="sb-nav"><a id="sb-nav-close" title="Close" onclick="Shadowbox.close()"></a><a id="sb-nav-next" title="Next" onclick="Shadowbox.next()"></a><a id="sb-nav-play" title="Play" onclick="Shadowbox.play()"></a><a id="sb-nav-pause" title="Pause" onclick="Shadowbox.pause()"></a><a id="sb-nav-previous" title="Previous" onclick="Shadowbox.previous()"></a></div><div style="clear:both"></div></div></div></div></div></body></html>